    <section class="phx-hero">
      <div>
        <h1>Game Over!</h1>
        <h2>Score: <%= @game.score %></h2>
      </div>
      <%= live_component TetrisWeb.GameLive.PlayButton,
          title: "Play again?",
          id: "play_again_button"
      %>
    </section>
