    <section class="phx-hero">
      <div>
        <h1>Welcome to Quadblock Tetris!</h1>
        <h2>Stack 'em up and clear 'em out!</h2>
      <%= live_component TetrisWeb.GameLive.PlayButton,
          title: "Play!",
          id: "play_button"
      %>
      </div>
    </section>
